body {
  background-color: rgb(63, 58, 58);
}

.nav {
    background-color: #d1c1a0;
    display: flex;
    text-align: right;
    height: 20%;
    padding-left: 80%;
    background-image: linear-gradient(to bottom right, rgb(77, 66, 66), rgb(0, 0, 0));
    border-radius: 5px;
}

.blue {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
}

ul {
    list-style-type: none;

  }

a {
    color: white;
    text-decoration: none;

}

svg {
  height: 30px;
  width: 30px;
}

h1 {
  text-align: center;
  color: white;
}


h2 {
  text-align: center;
  color: white;
}

.apie {
  width: 20%;
  height: 20%;
  background-image: linear-gradient(to bottom right, rgb(77, 66, 66), rgb(0, 0, 0));
  padding: 15%;
  border-style: double;
  border-radius: 5%;
  border: solid white 2px;
  margin-left: auto;
  margin-right: auto;
}

.discordas{
  color: white;
  text-shadow: 1px 0px;
}

.discordas:hover{
  color: rgb(70, 60, 206);
}

.github {
  color: white;
  text-shadow: 1px 0px;
}

.github:hover {
  color: black;
}
